* {
    margin: 0;
    padding: 0;
}

body, #root {
    height: 100vh;
}

/* styles for login, registration and recovery */
:root {
    --form-width: 350px;
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.login-form {
    background-color: rgba(0,0,0,0.6);
    width: var(--form-width);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #FFF;
    border-radius: 10px;
}

.auth-title {
    color: #FFF;
    font-weight: bold;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.legend {
    color: #FFF;
    font-size: 14pt;
}

.input-block input[type='text'], input[type='password'], input[type='file'] {
    width: 100%;
    border: none;
    border-bottom: 3px solid #FFF;
    background-color: inherit;
    margin: 10px 0px 10px 0px;
    font-size: 14pt;
    color: #FFF;
    outline: none;
    &::placeholder {
        color: white;
    }
}

input[type='file'] {
    border-bottom: none;
}

.button-login {
    height: 35px;
    font-size: 12pt;
    font-weight: bold;
    margin: 20px;
    border-radius: 10px;
    &:hover {
        cursor: pointer;
    }
}

.help-block {
    text-align: center;
}

.help-block div {
    margin-bottom: 5px;
}

.help-block div span {
    color: #FFF;
    margin-right: 10px;
}

.link {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}
